* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #f1f5f8;
}
.cont {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -7px black;
  max-width: 623px;
}
.father {
  display: flex;
  flex-flow: column;
  margin-top: 75px;
  gap: 60px;
}
.father-cont {
  display: flex;
  flex-flow: column;
  gap: 35px;
}
.theQ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  gap: 140px;
}
.content {
  display: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
.content p {
  color: rgba(0, 0, 0, 0.377);
}
.theQ p {
  display: inline;
  font-weight: 400;
  letter-spacing: 3.5;
  color: black;
  font-size: 15px;
}
.theQ i {
  color: #c59d5f;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.theQ i:hover {
  transform: rotate(90deg);
}
h1 {
  text-align: center;
  font-family: "Great Vibes", cursive;
  color: #c59d5f;
  font-size: 45px;
  letter-spacing: 3;
}
